{%extends "main.html"%}
{%load static%}

<body>
{%block content%}
{% for task in tasks %}
<div class="card" style="width: 18rem;">
<!--  {%if post.image%}-->
<!--  <img src="{{task.image.url}}" class="card-img-top" alt="...">-->
<!--  {%else%}-->
<!--  <img src="/staticfiles/placeholder.jpg" class="card-img-top" alt="...">-->
<!--  {%endif%}-->
  <div class="card-body">
    <h5 class="card-title">{{task.title}}</h5>
    <p class="card-text">{{task.description}}</p>
      <p class ="card-text">{{task.category}}</p>
    <a href="/tasks/{{task.id}}" class="btn btn-primary">Посмотреть задачу</a>
  </div>
</div>
{% endfor %}
{%endblock%}
</body>